.layout {
  &--base {
    position: relative;
    display: none;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;

    background-color: var(--background-color-blue);
    // --animate-duration: 500ms;
    .header {
      // z-index: 2;
    }
    .footer {
      margin-top: auto;
    }
    .layout__background {
      position: absolute;
      bottom: 0;
      left: 0;
    
      width: 100%;
      height: 45%;
    
      // background-image: url('../img/bg-section.svg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50% 0;
      display: none;
      &.animate__pulse {
        --animate-duration: 0s;
      }
      @include media(d, $md) {
        display: none;
      }
      &.show {
        display: block;
      }
    }
    &.show {
      display: flex;
    }
  }
}
