.section {
  &--about {
    .section__background-secondary {
      position: absolute;
      bottom: 0;
      right: 10%;

      width: 612 / $fontSizeRelative + em;
      height: 95%;
      background-image: url('../img/bg-page-about.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: 50% 50%;
      // opacity: 0.5;
      @include media(d, $xxl) {
        right: 5%;
      }
      @include media(d, $lg) {
        right: -100px;
        // right: -200px;
      }
    }
    .section__content {
      padding-left: 100 / $fontSizeRelative + em;
      padding-right: 100 / $fontSizeRelative + em;
      @include media(d, $lg) {
        padding: 0;
      }
      @include media(m, $md) {
        max-width: 75%;
      }
    }
  }
}
