<div class="section section--about" id="about">
  <!-- <div class="section__background">&nbsp;</div> -->
  <div
    class="section__background-secondary"
    data-element="background"
    data-animation-in="fadeInRight"
    data-animation-out="fadeOutUp"
  >&nbsp;</div>
  <div class="section__in">
    <div class="container-xxl">
      <div
        class="section__content"
        data-element="content"
        data-animation-in="fadeInLeft"
        data-animation-out="fadeOutLeft"
      >
        <h2>О себе</h2>
        <div class="accordion accordion--base" id="about-list">
          <div class="accordion-item">
            <div class="accordion-header" id="about-group-1">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#about-collapse-1"
                aria-expanded="true"
                aria-controls="about-collapse-1"
              >
                Кто я?
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-angle"></use>
                </svg>
              </button>
            </div>
            <div
              id="about-collapse-1"
              class="accordion-collapse collapse show"
              aria-labelledby="about-group-1"
              data-bs-parent="#about-list"
            >
              <div class="accordion-body">
                <div class="row flex-column row-cols-sm-auto flex-sm-row flex-sm-nowrap gy-3">
                  <div class="col flex-shrink-0">
                    <img class="accordion__avatar" src="img/me.jpg" alt="">
                  </div>
                  <div class="col flex-grow-1 flex-shrink-1">
                    Я Юрий, HTML-верстальщик. Работаю в web c 2017 года. Разрабатывал или принимал участие в разработке
                    более двух сотен коммерческих сайтов. К работе отношусь с энтузиазмом, ответственно, спокоен к критике.
                    Сфокусирован на результат и эффективность. <br><br>

                    Есть большое желание участвовать в разработке продуктов в большой команде, где будут применяться современные подходы в разработке в области web-интерфейсов и серверной части. Интересует работа с фреймворками vuejs, react, laravel. Языками javascript, php, mysql. <br><br>

                    В свободное время изучаю новые технологии, совершенствую свои знания и навыки. <br><br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="about-group-2">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#about-collapse-2"
                aria-expanded="false"
                aria-controls="about-collapse-2"
              >
                Личные качества:
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-angle"></use>
                </svg>
              </button>
            </div>
            <div
              id="about-collapse-2"
              class="accordion-collapse collapse"
              aria-labelledby="about-group-2"
              data-bs-parent="#about-list"
            >
              <div class="accordion-body">
                Ответственный, <br>
                Дисциплинированный, <br>
                Ориентированный на результат, <br>
                В постоянном развитии, <br>
                Стрессоустойчивый, <br>
                Коммуникабельный
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="about-group-3">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#about-collapse-3"
                aria-expanded="false"
                aria-controls="about-collapse-3"
              >
                Образование
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-angle"></use>
                </svg>
              </button>
            </div>
            <div
              id="about-collapse-3"
              class="accordion-collapse collapse"
              aria-labelledby="about-group-3"
              data-bs-parent="#about-list"
            >
              <div class="accordion-body">
                Среднее-специальное. <br>
                <strong>Место учёбы:</strong> Мирзо-улугбекский колледж (МУПКИ). <br>
                <strong>Специальность</strong>: <span>программист</span>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="about-group-4">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#about-collapse-4"
                aria-expanded="false"
                aria-controls="about-collapse-4"
              >
                Опыт
                <svg class="svg-icon">
                  <use xlink:href="img/svgSprite.svg#icon-angle"></use>
                </svg>
              </button>
            </div>
            <div
              id="about-collapse-4"
              class="accordion-collapse collapse"
              aria-labelledby="about-group-4"
              data-bs-parent="#about-list"
            >
              <div class="accordion-body">
                <ul>
                  <li class="mb-3">
                    <strong>Фриланс</strong> <br>
                    <strong>Вид-деятельности:</strong> HTML-верстальщик. <br>
                    <strong>Задачи:</strong> Разработка Landing pages, каталогов, сервисов и т.д. <br>
                    <strong>Начало работы:</strong> 2017 <br>
                    <strong>Конец работы:</strong> 2021 <br>
                  </li>
                  <li class="mb-3">
                    <strong>Компания:</strong> ООО "CREDO CREATIV STUDIO". <br>
                    <strong>Должность:</strong> Веб-дизайнер. <br>
                    <strong>Обязанности:</strong> разрабатывал шаблоны для wordpress, laravel. <br>
                    Разрабатывал и проектировал компонентную среду для крупных <br>
                    сервисов. Поддерживал действующие проекты с legacy-кодом, в <br>
                    основном Wordpress(php, js, css). <br>
                    <strong>Начало работы:</strong> 01.02.2021 <br>
                    <strong>Конец работы:</strong> до сих пор <br>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
