<div class="section section--contacts" id="contacts">
  <!-- <div class="section__background">&nbsp;</div> -->
  <div
    class="section__background-secondary"
    data-element="background"
    data-animation-in="fadeInRight"
    data-animation-out="fadeOutRight"
  >&nbsp;</div>
  <div class="section__in">
    <div class="container-xxl">
      <div
        class="section__content"
        data-element="content"
        data-animation-in="fadeInLeft"
        data-animation-out="fadeOutLeft"
      >
        <h2>Контакты</h2>
        <p>Всегда готов ответственно подойти к решению ваших задач. Буду рад вашим офферам, связаться со мной можно способами описанными ниже.</p>
        <div class="section__contacts">
          <div class="row row-cols-auto gy-3">
            <div class="col">
              <div class="card card--contact">
                <h4>Email</h4>
                <a href="mailto:y.code.web@gmail.com">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-gmail'></use>
                  </svg>
                  <span>y.code.web@gmail.com</span>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card card--contact">
                <h4>Phone</h4>
                <a href="tel:+998998497838">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-phone'></use>
                  </svg>
                  <span>+998998497838</span>
                </a>
              </div>
            </div>
            <div class="col">
              <div class="card card--contact">
                <h4>Socials</h4>
                <a href="https://t.me/y_code_web" target="_blank">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-tg'></use>
                  </svg>
                  <span>Telegram</span>
                </a>
                <a href="https://vk.com/ch93y" target="_blank">
                  <svg class='svg-icon'>
                    <use xlink:href='img/svgSprite.svg#icon-vk'></use>
                  </svg>
                  <span>VK</span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
