<div class="section section--main" id="main">
  <!-- <div class="section__background">&nbsp;</div> -->
  <div
    class="section__background-secondary"
    data-element="background"
    data-animation-in="fadeInRight"
    data-animation-out="fadeOutRight"
  >&nbsp;</div>
  <div class="section__in">
    <div class="container-xxl">
      <div
        class="section__content"
        data-element="content"
        data-animation-in="fadeInLeft"
        data-animation-out="fadeOutLeft"
      >
        <h1>Чудаев Юрий <span>HTML-верстальщик</span></h1>
        <p>Приветствую. Я Юрий, HTML-верстальщик. Работаю в web c 2017 года. Разрабатывал или принимал участие в разработке более двух сотен коммерческих сайтов...</p>
        <a
          class="button button--base"
          data-element="switch-slide"
          href="#about"
        >Подробнее</a>
      </div>
    </div>
  </div>
</div>
