<div class="section section--portfolio" id="portfolio">
  <!-- <div class="section__background">&nbsp;</div> -->
  <!-- <div class="section__background-secondary">&nbsp;</div> -->
  <div class="section__in">
    <div class="container-xxl">
      <div
        class="section__content"
        data-element="content"
        data-animation-in="zoomIn"
        data-animation-out="zoomOut"
      >
        <div class="text-center">
          <h2>Некоторые из моих работ</h2>
          <div class="text-center mb-4">
            <a href="https://bitbucket.org/chprof" target="_blank">bitbucket(main)</a>
            <a href="https://github.com/y-code-web" target="_blank">github(sub)</a>
          </div>
        </div>
        <div class="carousel carousel--gallery swiper" data-element="carousel-gallery">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/maitedi/index.html" target="_blank">
                <img src="img/img-project-4.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>MAITEDI</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Landing Page</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>4 дня</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/33metr/index.html" target="_blank">
                <img src="img/img-project-1.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>33 м2</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Landing Page</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>4 дня</span>
                      </li>
                      <li>
                        <strong>Характеристики:</strong>
                        <span>поддержка IE 10+, анимации, оптимизированные изображения и т.д.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/nbe/index.html" target="_blank">
                <img src="img/img-project-5.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>NBE</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Landing Page</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>5 дней</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/crazy-color/index.html" target="_blank">
                <img src="img/img-project-2.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>Crazy color</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Каталог</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>8 дней</span>
                      </li>
                      <li>
                        <strong>Характеристики:</strong>
                        <span>поддержка браузеров последних 2 версий, анимации и т.д.</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/hide-empire/index.html" target="_blank">
                <img src="img/img-project-7.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>HIDE EMPIRE</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Landing Page</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>2 дня</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/fresh/index.html" target="_blank">
                <img src="img/img-project-3.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>FreshPrint</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Landing Page</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>3 дня</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
            <div class="swiper-slide">
              <a href="https://y-code-web.github.io/pages/projects/talkonaut/index.html" target="_blank">
                <img src="img/img-project-6.jpg" alt="">
                <div class="carousel__content">
                  <div class="carousel__content-in">
                    <h3>Talkonaut</h3>
                    <ul>
                      <li>
                        <strong>Тип:</strong>
                        <span>Landing Page</span>
                      </li>
                      <li>
                        <strong>Время разработки:</strong>
                        <span>3 дня</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>
  </div>
</div>
