<div class="section section--skills" id="skills">
  <!-- <div class="section__background">&nbsp;</div> -->
  <div
    class="section__background-secondary"
    data-element="background"
    data-animation-in="fadeInRight"
    data-animation-out="fadeOutRight"
  >&nbsp;</div>
  <div class="section__in">
    <div class="container-xxl">
      <div
        class="section__content"
        data-element="content"
        data-animation-in="fadeInLeft"
        data-animation-out="fadeOutLeft"
      >
        <h2>Навыки</h2>
        <div class="accordion accordion--base" id="skills-list">
          <div class="accordion-item">
            <div class="accordion-header" id="skill-group-1">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#skill-collapse-1"
                aria-expanded="true"
                aria-controls="skill-collapse-1"
              >
                HTML-верстка
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                </svg>
              </button>
            </div>
            <div
              id="skill-collapse-1"
              class="accordion-collapse collapse show"
              aria-labelledby="skill-group-1"
              data-bs-parent="#skills-list"
            >
              <div class="accordion-body">
                <div class="row row-cols-1 row-cols-sm-2 gy-3">
                  <div class="col">
                    <h5>Основные технологии</h5>
                    <ul>
                      <li>HTML</li>
                      <li>CSS</li>
                      <li>SASS/SCSS</li>
                      <li>js/jquery</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>Фреймворки</h5>
                    <ul>
                      <li>Bootstrap 3, 4, 5</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>Методологии</h5>
                    <ul>
                      <li>BEM</li>
                      <li>Самостоятельно
                        созданные практики
                        на основе опыта</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>Приоритеты в разработке шаблонов</h5>
                    <ul>
                      <li>Кроссбраузерность (>=IE10 и аналоги)</li>
                      <li>Пиксель-перфект</li>
                      <li>Валидность</li>
                      <li>Семантика</li>
                      <li>Скорость, анимации</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="skill-group-2">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#skill-collapse-2"
                aria-expanded="false"
                aria-controls="skill-collapse-2"
              >
                Другое
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                </svg>
              </button>
            </div>
            <div
              id="skill-collapse-2"
              class="accordion-collapse collapse"
              aria-labelledby="skill-group-2"
              data-bs-parent="#skills-list"
            >
              <div class="accordion-body">
                <div class="row row-cols-2 gy-3">
                  <div class="col">
                    <h5>Контроль версий</h5>
                    <ul>
                      <li><a href="https://github.com/y-code-web" target="_blank">github</a></li>
                      <li><a href="https://bitbucket.org/chprof" target="_blank">bitbucket</a></li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>Сборщики проектов</h5>
                    <ul>
                      <li>gulp</li>
                      <li>webpack</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>Графические редакторы</h5>
                    <ul>
                      <li>Photoshop</li>
                      <li>Figma</li>
                      <li>Illustrator</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>OC</h5>
                    <ul>
                      <li>Windows</li>
                      <li>Ubuntu</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>Языки</h5>
                    <ul>
                      <li>Русский</li>
                      <li>Английский (на уровне чтения документации)</li>
                    </ul>
                  </div>
                  <div class="col">
                    <h5>IDE</h5>
                    <ul>
                      <li>VSCode</li>
                      <li>Sublime Text</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header" id="skill-group-3">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#skill-collapse-3"
                aria-expanded="false"
                aria-controls="skill-collapse-3"
              >
                Web-разработка
                <svg class='svg-icon'>
                  <use xlink:href='img/svgSprite.svg#icon-angle'></use>
                </svg>
              </button>
            </div>
            <div
              id="skill-collapse-3"
              class="accordion-collapse collapse"
              aria-labelledby="skill-group-3"
              data-bs-parent="#skills-list"
            >
              <div class="accordion-body">
                <div class="row row-cols-1 gy-3">
                  <div class="col">
                    <h5>PHP-разработка</h5>
                    В текущее время прохожу обучение на образовательном сервисе
                    <a href="https://hexlet.io">hexlet.io</a> по специальности <span>php-разработчик</span>.
                    Есть не коммерческий опыт с фреймворком Laravel и средой окружения:
                    LAMP, composer и т.д.
                  </div>
                  <div class="col">
                    <h5>Javascript-разработка</h5>
                    В текущее время прохожу обучение на образовательном сервисе
                    <a href="https://hexlet.io">hexlet.io</a> по специальности <span>javascript-разработчик</span>.
                    Есть не коммерческий опыт с фреймворком vue и средой окружения: vue-cli, webpack, vuex, vue router
                  </div>
                  <div class="col">
                    <h5>Wordpress</h5>
                    Есть не коммерческий опыт разработки разработки под ключ. <br>
                    <span>Коммерческий опыт</span> по поддержке тем.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
