<div class="layout__content">
  @@include('./src/partials/components/greetings.html')
  @@include('./src/partials/components/title.html')
  @@include('./src/partials/components/button.html')
  @@include('./src/partials/components/logo.html')
  @@include('./src/partials/components/content.html')
  @@include('./src/partials/components/card.html')
  @@include('./src/partials/components/carousel.html')
  @@include('./src/partials/components/list.html')
  @@include('./src/partials/components/map.html')
  @@include('./src/partials/components/nav.html')
  @@include('./src/partials/components/pagination.html')
  @@include('./src/partials/components/svg-icon.html')
</div>
